<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="article">
            <h2><span jhiTranslate="kompreniApp.article.detail.title">Article</span> {{article.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kompreniApp.article.valid">Valid</span></dt>
                <dd>
                    <span>{{article.valid}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.article.publishedDate">Published Date</span></dt>
                <dd>
                    <span>{{article.publishedDate}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.article.crawledDate">Crawled Date</span></dt>
                <dd>
                    <span>{{article.crawledDate}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.article.articleId">Article Id</span></dt>
                <dd>
                    <span>{{article.articleId}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.article.title">Title</span></dt>
                <dd>
                    <span>{{article.title}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.article.subTitle">Sub Title</span></dt>
                <dd>
                    <span>{{article.subTitle}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.article.imageUrl">Image Url</span></dt>
                <dd>
                    <span>{{article.imageUrl}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.article.content">Content</span></dt>
                <dd>
                    <span>{{article.content}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.article.contentHtml">Content Html</span></dt>
                <dd>
                    <span>{{article.contentHtml}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.article.newspaper">Newspaper</span></dt>
                <dd>
                    <span>{{article.newspaper}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.article.url">Url</span></dt>
                <dd>
                    <span>{{article.url}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.article.nextCrawlDate">Next Crawl Date</span></dt>
                <dd>
                    <span>{{article.nextCrawlDate}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.article.crawlCount">Crawl Count</span></dt>
                <dd>
                    <span>{{article.crawlCount}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/article', article.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
