<div>
    <h2 id="page-heading">
        <span jhiTranslate="kompreniApp.article.home.title">Articles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-article" [routerLink]="['/article/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="kompreniApp.article.home.createLabel">
            Create new Article
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'kompreniApp.article.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="articles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="kompreniApp.article.valid">Valid</span></th>
            <th><span jhiTranslate="kompreniApp.article.publishedDate">Published Date</span></th>
            <th><span jhiTranslate="kompreniApp.article.crawledDate">Crawled Date</span></th>
            <th><span jhiTranslate="kompreniApp.article.articleId">Article Id</span></th>
            <th><span jhiTranslate="kompreniApp.article.title">Title</span></th>
            <th><span jhiTranslate="kompreniApp.article.subTitle">Sub Title</span></th>
            <th><span jhiTranslate="kompreniApp.article.imageUrl">Image Url</span></th>
            <th><span jhiTranslate="kompreniApp.article.content">Content</span></th>
            <th><span jhiTranslate="kompreniApp.article.contentHtml">Content Html</span></th>
            <th><span jhiTranslate="kompreniApp.article.newspaper">Newspaper</span></th>
            <th><span jhiTranslate="kompreniApp.article.url">Url</span></th>
            <th><span jhiTranslate="kompreniApp.article.nextCrawlDate">Next Crawl Date</span></th>
            <th><span jhiTranslate="kompreniApp.article.crawlCount">Crawl Count</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let article of articles ;trackBy: trackId">
                <td><a [routerLink]="['/article', article.id, 'view' ]">{{article.id}}</a></td>
                <td>{{article.valid}}</td>
                <td>{{article.publishedDate | date:'medium'}}</td>
                <td>{{article.crawledDate | date:'medium'}}</td>
                <td>{{article.articleId}}</td>
                <td>{{article.title}}</td>
                <td>{{article.subTitle}}</td>
                <td>{{article.imageUrl}}</td>
                <td>{{article.content}}</td>
                <td>{{article.contentHtml}}</td>
                <td>{{article.newspaper}}</td>
                <td>{{article.url}}</td>
                <td>{{article.nextCrawlDate | date:'medium'}}</td>
                <td>{{article.crawlCount}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/article', article.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/article', article.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'article/'+ article.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
