<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-article-heading" jhiTranslate="kompreniApp.article.home.createOrEditLabel">Create or edit a Article</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!article.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="article.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.article.valid" for="field_valid">Valid</label>
                    <input type="checkbox" class="form-control" name="valid" id="field_valid"
                        [(ngModel)]="article.valid" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.article.publishedDate" for="field_publishedDate">Published Date</label>
                    <div class="d-flex">
                        <input id="field_publishedDate" type="datetime-local" class="form-control" name="publishedDate" [(ngModel)]="publishedDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.article.crawledDate" for="field_crawledDate">Crawled Date</label>
                    <div class="d-flex">
                        <input id="field_crawledDate" type="datetime-local" class="form-control" name="crawledDate" [(ngModel)]="crawledDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.article.articleId" for="field_articleId">Article Id</label>
                    <input type="text" class="form-control" name="articleId" id="field_articleId"
                        [(ngModel)]="article.articleId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.article.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="article.title" maxlength="1024"/>
                    <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.title?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                        This field cannot be longer than 1024 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.article.subTitle" for="field_subTitle">Sub Title</label>
                    <input type="text" class="form-control" name="subTitle" id="field_subTitle"
                        [(ngModel)]="article.subTitle" maxlength="1024"/>
                    <div [hidden]="!(editForm.controls.subTitle?.dirty && editForm.controls.subTitle?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.subTitle?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                        This field cannot be longer than 1024 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.article.imageUrl" for="field_imageUrl">Image Url</label>
                    <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                        [(ngModel)]="article.imageUrl" maxlength="1024"/>
                    <div [hidden]="!(editForm.controls.imageUrl?.dirty && editForm.controls.imageUrl?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.imageUrl?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                        This field cannot be longer than 1024 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.article.content" for="field_content">Content</label>
                    <textarea class="form-control" name="content" id="field_content"
                        [(ngModel)]="article.content" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.article.contentHtml" for="field_contentHtml">Content Html</label>
                    <textarea class="form-control" name="contentHtml" id="field_contentHtml"
                        [(ngModel)]="article.contentHtml" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.article.newspaper" for="field_newspaper">Newspaper</label>
                    <input type="text" class="form-control" name="newspaper" id="field_newspaper"
                        [(ngModel)]="article.newspaper" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.article.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                        [(ngModel)]="article.url" maxlength="1024"/>
                    <div [hidden]="!(editForm.controls.url?.dirty && editForm.controls.url?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.url?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                        This field cannot be longer than 1024 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.article.nextCrawlDate" for="field_nextCrawlDate">Next Crawl Date</label>
                    <div class="d-flex">
                        <input id="field_nextCrawlDate" type="datetime-local" class="form-control" name="nextCrawlDate" [(ngModel)]="nextCrawlDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.article.crawlCount" for="field_crawlCount">Crawl Count</label>
                    <input type="number" class="form-control" name="crawlCount" id="field_crawlCount"
                        [(ngModel)]="article.crawlCount" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
