<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-comment-heading" jhiTranslate="kompreniApp.comment.home.createOrEditLabel">Create or edit a Comment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!comment.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="comment.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.comment.updated" for="field_updated">Updated</label>
                    <div class="d-flex">
                        <input id="field_updated" type="datetime-local" class="form-control" name="updated" [(ngModel)]="updated"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.comment.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" [(ngModel)]="created"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.comment.author" for="field_author">Author</label>
                    <input type="text" class="form-control" name="author" id="field_author"
                        [(ngModel)]="comment.author" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.comment.moderator" for="field_moderator">Moderator</label>
                    <input type="checkbox" class="form-control" name="moderator" id="field_moderator"
                        [(ngModel)]="comment.moderator" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.comment.deleted" for="field_deleted">Deleted</label>
                    <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                        [(ngModel)]="comment.deleted" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.comment.subject" for="field_subject">Subject</label>
                    <textarea class="form-control" name="subject" id="field_subject"
                        [(ngModel)]="comment.subject" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.comment.content" for="field_content">Content</label>
                    <textarea class="form-control" name="content" id="field_content"
                        [(ngModel)]="comment.content" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.comment.originalSubject" for="field_originalSubject">Original Subject</label>
                    <textarea class="form-control" name="originalSubject" id="field_originalSubject"
                        [(ngModel)]="comment.originalSubject" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.comment.originalContent" for="field_originalContent">Original Content</label>
                    <textarea class="form-control" name="originalContent" id="field_originalContent"
                        [(ngModel)]="comment.originalContent" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.comment.position" for="field_position">Position</label>
                    <input type="number" class="form-control" name="position" id="field_position"
                        [(ngModel)]="comment.position" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kompreniApp.comment.article" for="field_article">Article</label>
                    <select class="form-control" id="field_article" name="article" [(ngModel)]="comment.article" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="articleOption.id === comment.article?.id ? comment.article : articleOption" *ngFor="let articleOption of articles; trackBy: trackArticleById">{{articleOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
