<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comment">
            <h2><span jhiTranslate="kompreniApp.comment.detail.title">Comment</span> {{comment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kompreniApp.comment.updated">Updated</span></dt>
                <dd>
                    <span>{{comment.updated}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.comment.created">Created</span></dt>
                <dd>
                    <span>{{comment.created}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.comment.author">Author</span></dt>
                <dd>
                    <span>{{comment.author}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.comment.moderator">Moderator</span></dt>
                <dd>
                    <span>{{comment.moderator}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.comment.deleted">Deleted</span></dt>
                <dd>
                    <span>{{comment.deleted}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.comment.subject">Subject</span></dt>
                <dd>
                    <span>{{comment.subject}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.comment.content">Content</span></dt>
                <dd>
                    <span>{{comment.content}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.comment.originalSubject">Original Subject</span></dt>
                <dd>
                    <span>{{comment.originalSubject}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.comment.originalContent">Original Content</span></dt>
                <dd>
                    <span>{{comment.originalContent}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.comment.position">Position</span></dt>
                <dd>
                    <span>{{comment.position}}</span>
                </dd>
                <dt><span jhiTranslate="kompreniApp.comment.article">Article</span></dt>
                <dd>
                    <div *ngIf="comment.article">
                        <a [routerLink]="['/article', comment.article?.id, 'view']">{{comment.article?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comment', comment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
