<div>
    <h2 id="page-heading">
        <span jhiTranslate="kompreniApp.comment.wordFrequency.title">Comments</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="occurrences">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="kompreniApp.comment.wordFrequency.word">Wort</span></th>
            <th><span jhiTranslate="kompreniApp.comment.wordFrequency.frequency">Frequenz</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let occ of occurrences ;trackBy: trackId">
                <td>{{occ.occurence}}</td>
                <td>{{occ.token}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
